<?xml version='1.0' encoding='UTF-8'?>
<analytics_tools>
	<metadata>
	     <column>
	        <name>name</name>
	        <type>varchar(128)</type>
	     </column>
	    <column>
	        <name>kind</name>
	        <type>varchar(128)</type>
	     </column>
	    <column>
	        <name>host</name>
	        <type>varchar(128)</type>
	     </column>
	    <column>
	        <name>port</name>
	        <type>int</type>
	     </column>
	    <column>
	        <name>database</name>
	        <type>varchar(128)</type>
	    </column>
            <column>
                <name>superuser</name>
                <type>varchar(128)</type>
            </column>
            <column>
                <name>username</name>
                <type>varchar(128)</type>
            </column>
            <column>
                 <name>env</name>
                 <type>text</type>
            </column>
	    <column>
	        <name>master_dir</name>
	        <type>text</type>
	    </column>
	</metadata>

        <analytics_tool>
            <name>GPDB42</name>
            <kind>greenplum</kind>
            <host>$GP_HOST_42</host>
            <port>$GP_PORT_42</port>
            <database>madlib</database>
            <user>madlibtester</user>
            <superuser>$GP_USER_42</superuser>
            <master_dir>$GP_MASTER_DATA_DIRECTORY_42</master_dir>
            <env>$GPHOME_42/greenplum_path.sh</env>
        </analytics_tool>

        <analytics_tool>
            <name>GPDB41</name>
            <kind>greenplum</kind>
            <host>$GP_HOME_41</host>
            <port>$GP_PORT_41</port>
            <database>madlib</database>
            <user>madlibtester</user>
            <superuser>$GP_USER_41</superuser>
            <master_dir>$GP_MASTER_DATA_DIRECTORY_41</master_dir>
            <env>$GPHOME_41/greenplum_path.sh</env>
        </analytics_tool>	

</analytics_tools>
