<?xml version='1.0' encoding='UTF-8'?>
<analytics_tools>
	<metadata>
	     <column>
	        <name>name</name>
	        <type>varchar(128)</type>
	     </column>
	    <column>
	        <name>kind</name>
	        <type>varchar(128)</type>
	     </column>
	    <column>
	        <name>toolversion</name>
	        <type>varchar(128)</type>
	     </column>
	    <column>
	        <name>madlibversion</name>
	        <type>varchar(128)</type>
	     </column>
	    <column>
	        <name>host</name>
	        <type>varchar(128)</type>
	     </column>
	    <column>
	        <name>port</name>
	        <type>int</type>
	     </column>
	    <column>
	        <name>database</name>
	        <type>varchar(128)</type>
	    </column>
	    <column>
	        <name>username</name>
	        <type>varchar(128)</type>
	    </column>
	    <column>
	        <name>segmentnum</name>
	        <type>smallint</type>
	    </column>
        <column>
            <name>env</name>
            <type>text</type>
        </column>
	    <column>
	        <name>master_dir</name>
	        <type>text</type>
	    </column>
	</metadata>

        <analytics_tool>
            <name>GPDB42</name>
            <kind>greenplum</kind>
            <toolversion>4.2.0.0</toolversion>
            <madlibversion>0.2</madlibversion>
            <host>gpdb2.delta.sm.greenplum.com</host>
            <port>5432</port>
            <database>madlib</database>
            <user>madlibtester</user>
            <superuser>gpdbchina</superuser>
            <segmentnum>8</segmentnum>
            <master_dir>/data/home/gpdbchina/greenplum-db-4.2.0.0/gpdata/madlib08/master/gpseg-1</master_dir>
            <env>/data/home/gpdbchina/greenplum-db-4.2.0.0/gpdb/greenplum_path.sh</env>
            <sql_source>/data/home/gpdbchina/madmark/dataset/dumpfile/madlibtestdata_GP.sql.gz</sql_source>
        </analytics_tool>

        <analytics_tool>
            <name>GPDB41</name>
            <kind>greenplum</kind>
            <toolversion>4.1.0.0</toolversion>
            <madlibversion>0.2</madlibversion>
            <host>gpdb2.delta.sm.greenplum.com</host>
            <port>5432</port>
            <database>madlib</database>
            <user>madlibtester</user>
            <superuser>gpdbchina</superuser>
            <segmentnum>8</segmentnum>
            <master_dir>/data/home/gpdbchina/greenplum-db-4.1.0.0/gpdata/madlib08/master/gpseg-1</master_dir>
            <env>/data/home/gpdbchina/greenplum-db-4.1.0.0/gpdb/greenplum_path.sh</env>
            <sql_source>/data/home/gpdbchina/madmark/dataset/dumpfile/madlibtestdata_GP.sql.gz</sql_source>
        </analytics_tool>	

</analytics_tools>
